body {
    font-family: Verdana, Geneva, sans-serif;
    width: 90%;
    display: flex;
    margin: 0 auto;
}

h3 {
    font-weight: 200;
}

.single-row {
    height: 80px;
    /* align-items: center; */

}

.double-row {
    height: 80px;
    /* align-items: center; */

}

.thin {
    font-weight: lighter;
}

#solarmd-costing {
    color: initial;
}

.wrapper {
    display: grid;
    width:100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header  header  header"
    "content content content"
    "footer  footer  footer";
    grid-gap: 10px;

    }

.headIntro {
    display: grid;
    grid-area: header;
}

.labelcontainer {
    display: grid;
    text-align: right;
}

.slidecontainer {
display: grid;
width: 100%;
text-align: center;
}

.copetitorcontainer{
    display: grid;
}

input[type=text] {
    border: none;
    padding: 10px;
    border-radius: 3px;
    -moz-box-shadow:    5px 10px 18px #888888;
    -webkit-box-shadow: 5px 10px 18px #888888;
    box-shadow:         5px 10px 18px #888888;

    background-color: #ffb7009a;
    
}

.slider1 {
-webkit-appearance: none;
width: 90%;
height: 15px;
background: #ffffff;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
-moz-box-shadow:    inset 2px 2px 4px #888888;
-webkit-box-shadow: inset 2px 2px 4px #888888;
box-shadow:         inset 2px 2px 4px #888888;
border-radius: 2.5px;
}

.slider:hover {
opacity: 1;
}

.slider1::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 40px;
height: 40px;
background: #FFB600;
border-radius: 50px;
border: 1 #a37603;
cursor: pointer;
}

.slider1::-moz-range-thumb {
width: 40px;
height: 40px;
background: #FFB600;
border: 10;
border-color:  #f7c037;
border-radius: 50px;
cursor: pointer;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;  
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .top {
    min-width:200px; 
    max-width:400px;
    top:-20%;
    left:50%;
    /* margin-left:20px; */
    transform:translate(-70%, -100%);
    padding:10px 20px;
    color:#FF0000;
    background-color:#FFB600;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    /* border:1px solid transparent; */
    -moz-box-shadow:    5px 10px 18px #888888;
    -webkit-box-shadow: 5px 10px 18px #888888;
    box-shadow:         5px 10px 18px #888888;
    visibility:hidden; 
    opacity:0; 
    transition: opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; 
    opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#FFB600;
    /* border:1px solid transparent; */
    -moz-box-shadow:    5px 10px 18px #888888;
    -webkit-box-shadow: 5px 10px 18px #888888;
    box-shadow:         5px 10px 18px #888888;
}

#remindUser {
    visibility:hidden; 
    opacity:1; 
    transition: opacity 0.8s;
}

::-webkit-input-placeholder { /* Edge */
    color: red;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    }
    
    ::placeholder {
    color: red;
    }